.Images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  padding: 0;
  justify-content: center;
  margin-bottom: 16px;
}

.Image {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}
