.ImageModal {
  text-align: center;
  overflow: scroll;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(189, 189, 77);
}

.BigImage {
  margin: 20px 0 0 0;
  border-radius: 12px;
  max-height: 80%;
  max-width: 80%;
  box-shadow: 0 0 79px 0 rgba(164, 2, 113, 0.5);
}
